.attar-post-title-style-right,.attar-post-title-style-left {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
}

.attar-post-title-style-right::after {
  content: attr(data-label);
  width: fit-content;
  word-break: keep-all;
  display: block;
  padding: 4px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
  position: absolute;
  top: -1.5em;
  left: -25px;
  color: var(--titleColor, #000);
  background-color: var(--titleBg, transparent);
}
.attar-post-title-style-left::after {
  content: attr(data-label);
  width: fit-content;
  word-break: keep-all;
  display: block;
  padding: 4px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
  position: absolute;
  top: -1.5em;
  right : -25px;
  color: var(--titleColor, #000);
  background-color: var(--titleBg, transparent);
}

.attar-custom-post-box-right {
  transition: all 0.3s ease;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: var(--descBg);
  border-right: 4px solid var(--descBorder,transparent);
}
.attar-custom-post-box-left {
  transition: all 0.3s ease;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: var(--descBg,transparent);
  border-left: 4px solid var(--descBorder, transparent);
}

.attar-custom-post-box h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}


